@model MvcStok.Models.Entity.TBLMUSTERILER

@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Müşteri Girişi</h2>
<br /> <br />
<form method="post" id="musteriForm">
    <div class="form-group row">
        <label for="inputText3" class="col-sm-2 col-form-label" style="font-size: 20px;">Müşteri Adı:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:blue" })
        </div>
    </div>
    <div class="form-group row">
        <label for="inputText3" class="col-sm-2 col-form-label" style="font-size: 20px;">Müşteri Soyadı:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MUSTERISOYAD, "", new { @style = "color:blue" })
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">Müşteriyi Ekle</button>
        </div>
    </div>
</form>

<!-- Başarılı Mesaj Modalı -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal içeriği-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #28a745; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" style="color: #fff;"><span>&times;</span></button>
                <h4 class="modal-title"><i class="fas fa-check-circle mr-2"></i> Başarılı</h4>
            </div>
            <div class="modal-body">
                <p>Müşteri başarıyla eklendi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#musteriForm").submit(function (event) {
                event.preventDefault(); // Formun varsayılan gönderimini engelle
                var formVerisi = $(this).serialize(); // Form verilerini serileştir
                // AJAX isteğiyle form verisini gönder
                $.ajax({
                    type: "POST",
                    url: "/MUSTERI/YeniMusteri", // Form verilerinin gönderileceği sunucu adresi
                    data: formVerisi,
                    success: function (response) {
                        // İşlem başarılıysa, modalı göster
                        $("#successModal").modal("show");
                    },
                    error: function () {
                        alert("Bir hata oluştu.");
                    }
                });
            });
        });
    </script>
}
